<h1>
	  {{square 11}}
</h1>

	  {{#each strings1}}
		  <p>{{upperCase}}</p>
	  {{/each}}

<h2>
	{{num2 (num1 2)}}
</h2>

<h3>
	{{result (num1 3) (num2 2)}}
</h3>

<h3>
	{{result 15 17}}
</h3>

<h3>
	{{fio 'Кадыров' 'Казбек' 'Файзылдаевич'}}
</h3>

<h3>
	{{{ssylka 'http://google.com' 'Google' }}}
</h3>